@import 'tailwindcss';
@plugin "@tailwindcss/forms";

@theme {
  --font-sans: 'Inter', system-ui, sans, sans-serif;
}

@layer base {
  html {
    overflow-y: scroll;
  }

  @supports (scrollbar-gutter: stable) {
    html {
      overflow-y: auto;
      scrollbar-gutter: stable;
    }
  }

  body {
    @apply min-h-screen bg-fixed text-zinc-300 font-sans antialiased;
    
    background-color: var(--color-zinc-950);
    
    background-image: 
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 200' width='200' height='200'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='4' stitchTiles='stitch'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.08'/%3E%3C/svg%3E"),
      radial-gradient(circle at bottom, var(--color-zinc-900), var(--color-zinc-950));
    
    background-size: 200px 200px, 100% 100%;
    background-repeat: repeat, no-repeat;
  }
  
}